---
layout: default
---
<article class="speaker">
    <h1>{{ page.title }}</h1>
    <div class="row">
        <div class="column">
            <img src="/acs{{ page.image }}" alt="{{ page.image }}" width="400">
        </div>
        <div class="column">
            <h3>{{ page.name }}</h3>
            <p>{{ page.affiliation }}</p>
            <p><b>Website</b>: {{ page.website }}</p>
        </div>
    </div> 
    <p><b>Abstract</b>: {{ page.abstract }}</p>
    <p><b>Bio</b>: {{ page.bio }}</p>
</article>
